<div class="container body-content">
  <div class="sectionHeader">
    Create New Forum
  </div>

  <form #addForumForm="ngForm" (ngSubmit)="submit(addForumForm)"   id="addPostForm">
    @if (errors.length) {
      <div class="text-danger">
        @for (error of errors; track error) {
          <p>{{ error }}</p>
        }
      </div>
    }

    <div class="form-group">
      <label for="title">Forum Title</label>
      <input
        id="title"
        name="title"
        [(ngModel)]="model.title"
        class="form-control"
        placeholder="Choose a Forum Title"
        required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        id="description"
        name="description"
        [(ngModel)]="model.description"
        class="form-control"
        placeholder="Write a brief description here."
        required />
    </div>

    <button type="submit" id="registerBtn" class="btn btn-primary">Create</button>
  </form>
</div>