<div class="container sectionHeader">
  <h1 class="sectionHeading">Forums</h1>
  <a routerLink="/forum/create" *ngIf="currentUser$ | async">Create Forum</a>
</div>

<table class="table table-hover" id="forumIndexTable" style="background-color:white">
  <tbody>
    <tr *ngFor="let forum of forums">
      <td>
        <a [routerLink]="['/forum', forum.id]">{{ forum.name }}</a>
      </td>
      <td>
        {{ forum.description }}
        <a *ngIf="(currentUser$ | async)?.userName === forum.authorName"
           class="delete btn btn-link" (click)="delete(forum.id)" style="cursor:pointer">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
