<div class="container sectionHeader">
  <h3 class="sectionHeading">New Users</h3>
</div>

@for (user of users; track user.id) {
  <div class="container body-content border-bottom">
    <div class="row userProfile">
      <div class="col-md-4">
        <div
          class="profile-img-box"
          [style.background-image]="'url(' + (user.imagePath || defaultImage) + ')'"
        ></div>
      </div>
      <div class="col-md-8">
        <a routerLink="['/profile', user.id]">{{ user.userName }}</a>
        <span class="badge rounded-circle" style="background-color: skyblue">
          {{ user.rating }}
        </span>
        <span>Member Since: {{ user.memberSince }}</span>
      </div>
    </div>
  </div>
} @empty {
  <p class="text-muted">No new users found.</p>
}