@if (topic; as t) {
<div class="container body-content">
  <div class="row sectionHeader">
    <div class="sectionHeading">
      <span>{{ t.forum.name }} Forum</span>
    </div>
    <div class="sectionDescription">
      @if (!(currentUser$ | async)) {
        <span>
          You must be a <a routerLink="/register">registered member</a> to create a new post.
        </span>
      }
      <div class="searchForm">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." class="searchBar"
               (focus)="searchQuery = ''" />
        <button type="button" class="btn buttonSearch" (click)="search()">
          <i class="material-icons">search</i>
        </button>
        <div class="createPostButton">
          @if (currentUser$ | async) {
            <span id="headingBtn">
              <a [routerLink]="['/post/create', t.forum.id]" class="btn btn-newPost">Create Post</a>
            </span>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row forumIndexContent">
    @if (t.posts.length > 0) {
      <table class="table table-hover table-bordered" id="forumIndexTable" style="background-color:white">
        <tbody>
          @for (post of t.posts; track post.id) {
            <tr>
              <td>
                <div class="postData">
                  <div class="postTitle">
                    <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
                  </div>
                  <div class="forumSubTitle">
                    <span class="postAuthor">
                      <a [routerLink]="['/profile', post.authorId]">{{ post.authorName }}</a>
                    </span>
                    <span class="badge rounded-circle" style="background-color:skyblue"> {{ post.authorRating }} </span>
                    on <span class="postData">{{ post.datePosted }}</span>
                    <div style="float:right">
                      <span style="margin-bottom:10px; margin-left:20px">{{ post.totalLikes }}</span>
                      <i class="inline-icon material-icons">favorite</i>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="forumPostContent">Replies: {{ post.repliesCount }}</div>
              </td>
              <td>
                @if ((currentUser$ | async)?.userName === post.authorName) {
                  <ul class="navbar-nav ml-auto" style="float:right">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" data-toggle="dropdown">
                        <i class="material-icons" style="color:gray; float:right">more_horiz</i>
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/post/edit', post.id]">Edit Post</a>
                        <a class="dropdown-item" (click)="deletePost(post.id)" style="cursor:pointer">Delete Post</a>
                      </div>
                    </li>
                  </ul>
                }
                <div style="float:left" class="postData">{{ post.datePosted }}</div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="noPosts">
        <i class="material-icons md-72">question_answer</i>
        <h3>
          It looks like there are no posts to be found.
          @if (currentUser$ | async) {
            Why not <a [routerLink]="['/post/create', t.forum.id]">create one</a>
          }
        </h3>
      </div>
    }
  </div>
</div>
}