<div class="container body-content">
  <div class="sectionHeader">
    <h3>Followers</h3>
  </div>

  @for (follow of followers; track follow.id) {
    <div class="container body-content border-bottom">
      <div class="row userProfile">
        <div class="col-md-4">
          @if (!follow.imagePath) {
            <img
              src="assets/images/blankpicture.png"
              class="profile-img-box"
              alt="Default profile image" />
          } @else {
            <div
              class="profile-img-box"
              [style.background-image]="'url(' + follow.imagePath + ')'"
            ></div>
          }
        </div>
        <div class="col-md-8">
          <a [routerLink]="['/profile', follow.id]">
            {{ follow.userName }}
          </a>
          <span id="userRating">Current Rating:</span>
          <span class="badge rounded-circle" style="background-color:skyblue">
            {{ follow.rating }}
          </span>
          <span id="userCreatedLabel">
            Member Since: {{ follow.memberSince }}
          </span>
        </div>
      </div>
    </div>
  } @empty {
    <p class="text-muted">No followers yet.</p>
  }
</div>