@if (template; as t) {
<div class="container body-content">
  <div class="row sectionHeader">
    <div class="sectionHeading" style="padding-bottom:15px">
      Comment | {{ t.profileUserName }}
      <span id="headingBtn">
        <a routerLink="['/profile', t.userId]">
          <span class="material-icons" style="color:black; float:right">arrow_back</span>
        </a>
      </span>
    </div>
  </div>
  <div class="row" style="background-color:white">
    <div class="createPostSection">
      <div class="authorBlock">
        You're submitting this comment as <span class="authorBlockName">{{ t.commentUserName }}</span>
      </div>
      <form #f="ngForm" (ngSubmit)="submit(f)" id="addPostForm">
        @for (e of errors; track e) {
          <div class="text-danger">{{ e }}</div>
        }
        <div class="form-group">
          <label>Comment Content</label>
          <textarea name="commentContent" [(ngModel)]="commentContent" required
                    rows="5" cols="180" class="form-control"
                    placeholder="Write your comment here."></textarea>
        </div>
        <button type="submit" class="btn btn-submitPost">Submit Comment</button>
      </form>
    </div>
  </div>
</div>
}