<div class="sectionHeader"><h1>Change Password</h1></div>
<div class="text-success" *ngIf="success">{{ success }}</div>
<form #f="ngForm" (ngSubmit)="submit(f)" style="background-color:white; display:block; padding:15px">
  <div class="text-danger" *ngFor="let e of errors">{{ e }}</div>
  <div class="form-group">
    <label>Current Password</label>
    <dx-input name="password" [(ngModel)]="model.password" required type="password" class="form-control" />
  </div>
  <div class="form-group">
    <label>New Password</label>
    <dx-input name="newPassword" [(ngModel)]="model.newPassword" required type="password" class="form-control" />
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <dx-input name="confirmPassword" [(ngModel)]="model.confirmPassword" required type="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
