<div class="container sectionHeader">
  <h3 class="sectionHeading">New Users</h3>
</div>

@for (user of users; track user.id) {
  <div class="container body-content border-bottom">
    <div class="row userProfile">
      <div class="col-md-4">
        @if (!user.imagePath) {
          <img
            src="assets/images/blankpicture.png"
            class="profile-img-box"
          />
        } @else {
          <div
            class="profile-img-box"
            [style.background-image]="'url(' + user.imagePath + ')'"
          ></div>
        }
      </div>

      <div class="col-md-8">
        <a
          id="userName"
          [routerLink]="['/profile', user.id]"
        >
          {{ user.userName }}
        </a>

        <span id="userRating">Current Rating: </span>
        <span class="badge rounded-circle" style="background-color: skyblue">
          {{ user.rating }}
        </span>

        <span id="userCreatedLabel">
          Member Since: {{ user.memberSince | date:'mediumDate'}}
        </span>
      </div>
    </div>
  </div>
}